.bg {
    background: linear-gradient(to left, var(--primary-color), var(--purple));
}

header {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

header .nav-header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: auto;
    text-transform: capitalize;
    color: var(--green);
    font-weight: 600;
    font-size: calc(var(--fs-medium) + 0.4rem);
    font-family: Lexend !important;
}

.nav-header .ul-nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.ul-nav-header a {
    color: var(--green);
}

.ul-nav-header a:hover {
    color: var(--green-bold2);
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    z-index: 999;
    padding: var(--p-16);
    justify-content: start;
    align-items: end;
    gap: var(--p-8);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    background-color: var(--primary-color);
}

.sidebar a {
    color: var(--green);
}

.sidebar i {
    color: var(--green);
    padding-left: var(--p-8);
}

.closeSidebar {
    margin-bottom: var(--m-16);
}

.sidebar .sidebar-a:hover {
    padding-right: var(--p-16);
}

.menu-btn {
    display: none;
}

.container-section-main {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-section-main section {
    width: 50%;
}

.title-section-main-description {
    font-size: calc(var(--fs-large) * 2);
    margin-bottom: var(--m-16);
}

.p-section-main-description {
    font-size: var(--fs-medium);
    margin-bottom: var(--m-32);
}

.container-btn-section-main button {
    margin-right: var(--m-8);
    padding: var(--p-8) var(--p-16);
    border-radius: var(--radius);
    font-weight: 600;
}

.container-btn-section-main .btn-main-section {
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--purple);
}

.container-btn-section-main .btn-main-section:hover {
    background-color: var(--green);
    color: var(--purple);
}

.container-btn-section-main .btn-outline-main-section {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}

.container-btn-section-main .btn-outline-main-section:hover {
    border: 1px solid var(--green);
    color: var(--green);
}

.section-main-image {
    display: flex;
    justify-content: end;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
}

.person {
    width: 100%;
}

.section-courses {
    width: 100%;
    margin: var(--m-16) auto;
    border-radius: 80px;
    padding: var(--p-32) 0;
}

  .section-courses .container-circles,
  .title-courses,
.description-courses {
    max-width: 90%;
    margin: 0 auto;
}

.container-circles {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container-circle-elements {
    display: flex;
    flex-direction: column;
}

.title-courses {
    font-size: calc(var(--fs-large) + 1rem);
    margin-bottom: var(--m-16);
    text-align: center;
}

.description-courses {
    font-size: var(--fs-medium);
    margin-bottom: var(--m-32);
    text-align: center;
}

.circular-progress {
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 30px);
    height: calc(var(--progress-bar-height) - 30px);
    border-radius: 50%;
    border: 16px solid var(--secondary-color);
}

.percentage {
    position: relative;
    font-size: var(--fs-large);
    color: var(--secondary-color);
}

.label-circle {
    color: var(--secondary-color);
    text-transform: capitalize;
}

.section-contact {
    width: 100%;
    max-width: 100%;
    margin: 0 auto var(--m-32) auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.section-contact section {
    width: 50%;
}

.section-contact-img {
    display: flex;
    justify-content: center;
}

.section-contact-img img {
    width: 90%;
}

.section-contact-form {
    padding: var(--p-32);
}

.title-section-contact-form {
    font-size: calc(var(--fs-large) * 2);
    margin-bottom: var(--m-16);
    text-transform: capitalize;
}

.container-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: var(--m-16) 0;
}

.container-input input {
    width: 48%;
    padding: var(--p-16);
    border-radius: var(--input-radius);
    border: 1px solid var(--secondary-color);
    background-color: var(--input-color);
    color: var(--secondary-color);
}

form textarea {
    width: 100%;
    height: 160px;
    resize: none;
    border-radius: var(--input-radius);
    padding: var(--p-16);
    margin-bottom: var(--m-16);
    background-color: var(--input-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.container-btnSend-form {
    display: flex;
    justify-content: end;
}

.btnSend-form {
    padding: calc(var(--p-8) + 4px) var(--p-32);
    border-radius: var(--radius);
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
}

.btnSend-form:hover {
    background-color: var(--green);
}

.section-comments {
    width: 100%;
    max-width: 90%;
    margin: 0 auto var(--m-32) auto;
    padding: var(--p-16) 0;
}

.section-comments h1 {
    text-align: center;
    margin-bottom: var(--m-16);
    font-size: calc(var(--fs-large) + 1rem);
}

.section-comments .comments-description {
    text-align: center;
    margin-bottom: var(--m-32);
}

.container-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--m-32);
}

.comment {
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: var(--input-radius);
    padding: calc(var(--p-16) + 8px);
    display: flex;
    flex-direction: column;
}

.container-comment-person {
    display: flex;
    margin-bottom: var(--m-16);
}

.container-names-person {
    margin-left: var(--m-16);
}

.container-names-person .comment-name {
    margin-bottom: calc(var(--m-8) - 4px);
    color: var(--purple);
    font-weight: bold;
    font-size: calc(var(--fs-medium) + 0.2rem);
    text-transform: capitalize;
}

.comment-job {
    font-size: calc(var(--fs-medium) - 0.2rem);
    color: var(--primary-color);
    text-transform: capitalize;
}

.comment img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--purple);
}

.p-comment {
    font-size: calc(var(--fs-medium) - 0.2rem);
    color: var(--primary-color);
    text-align: center;
}

footer {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .logo-footer {
    width: auto;
    font-size: var(--fs-large);
    color: var(--green);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: Lexend !important;
}

footer .container-footer-elements {
    text-align: end;
    padding: var(--p-16) 0;
}

footer .container-footer-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--p-8);
}

.container-footer-icons i {
    width: 30px;
    height: 30px;
    background-color: var(--input-color);
    color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer-icons i:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container-copyright {
    color: var(--secondary-color);
    margin-top: var(--m-8);
    font-weight: 200;
}