.container-cart h1 {
    color: var(--primary-color);
    margin: 6px 0 12px 0;
}

.container-product-cart {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    margin-bottom: 20px;
}

.product-cart {
    box-shadow: 0 0 3px var(--dark-color);
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 6px;
}

.container-bills {
    display: flex;
    flex-direction: column;
}

.container-bills label {
    font-size: 1.6em;
}

.container-bills label input {
    border-bottom: 1px solid var(--dark-color);
    margin-left: 12px;
    width: 140px;
    cursor:text;
}