:root {
  --primary-color: #EE3C3C;
  --secondary-color: #FFEAD1;
  --light-color: #FFF;
  --dark-color: #121212;
  
  --card-radius: 8px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: pink;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  border: 4px solid crimson;
}

button, input {
  all: unset;
}

h1 {
  text-transform: capitalize;
}