@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #EE3C3C;
  --secondary-color: #ffdeb5;
  --light-color: #FFF;
  --dark-color: #121212;
  --correct-color: #068349;
  --change-color: #064d83;
  
  --card-radius: 8px;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-color);
  font-family: Jost, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif!important;
}

select {
  font-family: Jost;
}

.container {
  width: 90%;
  margin: 24px auto;
  height: 100vh;
}

button, input {
  all: unset;
}

h1 {
  text-transform: capitalize;
}