main {
    display: flex;
    flex-direction: column;
}

main h1 {
    color: var(--primary-color);
    text-align: center;
}

.container-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
}

.product {
    background-color: brown;
    border-radius: var(--card-radius);
    padding: 12px;
}

.product img {
    width: 35%;
}

.container-info-product {
    display: flex;
    flex-direction: column;
}

.container-info-product select {
    margin-top: 12px;
}