header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #121212;
}

header a {
    text-decoration: none;
}

.brand {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.favorites {
    cursor: pointer;
    padding: 5px 14px;
    border: 2px inset orange;
    background-color: transparent;
    border-radius: .4rem;
    color: orange;
}