.container-pix {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-top: 5%;
    margin-bottom: var(--m-32);
}

.container-description-card-pix {
    margin-top: 220px!important;
}

.container-pix-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: var(--m-32) 0;
}

.container-pix-img .pix-img {
    width: var(--pix);
    height: var(--pix);
    object-fit: cover;
    box-shadow: 0 0 6px 1px var(--primary-color);
    mix-blend-mode: multiply;
    border-radius: var(--card-radius);
}

.container-pix-text {
    width: 100%;
    background-color: var(--quartenary-color);
    word-wrap: break-word; /* break word (remove inline default) */
    padding: var(--p-16);
    box-shadow: 0 0 6px 1px var(--primary-color);
    border-radius: var(--card-radius);
}

.container-pix-text strong {
    font-family: lexend;
    color: var(--primary-color);
}

.container-pix-text p {
    color: var(--primary-color);
}

.container-pix-text button {
    margin-top: var(--m-16);
    color: var(--quartenary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color); /* because of the default main page buttons */
}

.back-link {
    margin: var(--m-32) 0 0 auto;
    font-weight: bold;
    color: var(--primary-color);
    background-color: transparent;
    box-shadow: 0 0 6px 1px var(--primary-color);
    padding: var(--p-8) var(--p-16);
    border-radius: var(--radius);
}

.back-link:hover {
    background-color: var(--primary-color);
    color: var(--quartenary-color);
}

@media (max-width: 1027px){
    /* because of the css main responsive */
    .card-product-pix {
        width: var(--productImg)!important;
        height: var(--productImg)!important;
    }
    
    .container-img-card-pix {
        width: var(--productImg)!important;
        height: var(--productImg)!important;
    }
    
    .container-description-card-pix {
        width: var(--productImg)!important;
    }
    
}

@media (max-width: 680px){
    .container-pix-img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   

    .container-pix-img .pix-img {
        margin: var(--m-32) 0 0 0;
    }

    .card-product-pix {
        margin-bottom: var(--m-32);
    }
}

@media (max-width: 460px){
    .main-pix h1 {
        font-size: calc(var(--fs-title) - .4rem);
    }   
}