body {
    background-color: #121212;
}
.films-list {
    max-width: 845px;
    margin: 14px auto;
    height: calc(100vh - 70px); /* total viewport - height fixed header */
}
.films-list .theatres {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 6px;
    background-color: dodgerblue;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.films-list article {
    width: 100%;
    background-color: #242424;
    padding: 14px 20px;
}

.films-list article:last-of-type {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.films-list article hr {
    border-color: #ffffff4d;
}

.films-list article .title {
    text-align: center;
    display: block;
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #fff;
}

.films-list img {
    width: 900px;
    max-width: 100%;
    max-height: 348px;
    object-fit: cover;
    display: block; /* join <img> with <a> */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.5s;
}

.films-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: gold;
    color: #121212;
    font-weight: 600;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    letter-spacing: 1px;
}
.films-list a:hover {
    font-weight: 800;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

@media (max-width: 768px){
    .films-list article:last-of-type {
        border-radius: 0;
    }
    .films-list .theatres {
        font-size: 2rem;
        border-radius: 0;
    }
}