@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #520D74;
  --secondary-color: #110C2B;
  --tertiary-color: #53109A;
  --quartenary-color: #C147FA;
  --blue: #0066FD;
  --green: #01FECF;
  --light: #FFF;

  --radius-default: 8px;

  --header-h: 60px;
}

body {
  font-family: Poppins, Consolas, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, input, button, li {
  all: unset;
}

a, button {
  cursor: pointer;
}