.container {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--p-16) 0;
    margin-bottom: var(--m-section);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: var(--p-32);
}


/* main */
main {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--m-section);
}

.section-main-text, .section-main-img {
    width: 50%;
}

.section-main-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.section-main-text h1 {
    font-size: 5rem;
}

.section-main-text p {
    margin: var(--m-8) 0 var(--m-32) 0;
}

.section-main-img {
    display: flex;
    justify-content: end;
}

.section-main-img img {
    width: 60%;
}


/* choose */
.section-choose {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-choose h2 {
    font-size: var(--fs-title);
    margin-bottom: var(--m-32);
}

.container-choose {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--p-32);
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--p-16);
}

.container-choose i {
    font-size: var(--fs-icon);
}


/* products */
.section-products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-products h2 {
    font-size: var(--fs-title);
}

.container-cards-products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--p-32)
}

.card-product {
    padding: var(--p-8);
    border: 2px solid dodgerblue;
}