body {
    background-color: #121212;
    font-family: consolas;
    color: #fff;
    margin: 0;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stopwatch {
    width: 400px;
    padding: 40px 60px;
    text-align: center;
}
.container-btn {
    display: flex;
    justify-content: space-between;
}
.timer {
    font-size: 9rem;
    display: flex;
    justify-content: center;
}
.stopwatch .btn {
    font-size: 1.5rem;
    border-radius: 0.5rem;  
    padding: 8px 0;  
    width: 40%;
    border: none;
    color: #fff;
}
.btnGo {
    background-color: rgb(42, 183, 120);
}
.btnClear {
    background-color: rgb(183, 42, 42);
}
.btn {
    cursor: pointer;
    transition: all .4s;
}
.btnGo:hover {
    background-color: rgba(42, 183, 120, 0.6);
}
.btnClear:hover {
    background-color: rgb(183, 42, 42, 0.6);
}
@media (max-width: 1000px){
    .stopwatch {
        width: 60%;
        padding: 40px;
    }
    .timer {
        font-size: 5rem;
    }
    .btn {
        padding: 0;
    }
}
@media (max-width: 420px){
    .stopwatch {
        padding: 0;
    }
    .stopwatch .btn {
        width: 70%;
    }

}