.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}

.admin-container h1 {
    margin-bottom: 16px;
}

textarea {
    border-radius: 4px;
    padding: 8px;
    resize: none;
    outline: none;
}

.list {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /* background-color: #484848; */
    border:2px solid #484848;
    border-radius: 4px;
    margin-bottom: 16px;
    justify-content: center;
    padding: 14px 8px;
}

.list p {
    margin-bottom: 12px;
}

.list button {
    margin-right: 8px;
    border: 0;
    border-radius: 4px;
    padding: 6px;
}

.list .btn-edit {
    background-color: #484848;
    color: #fff;
    transition: all .3s;
}

.list .btn-edit:hover {
    background-color: #484848b4;
}

.list .btn-delete {
    color: #ffcc23;
    background-color: transparent;
}

.container-btn {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: end;
}

.btn-logout {
    height: 30px;
    width: 60px;
    border-radius: 4px; /* elipse */
    border: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 0, 0, 0.8);
    color: rgba(255, 0, 0, 0.8);
    transition: all .3s;
}

.btn-logout:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
}

/* 'register task' to 'edit task' */
#btn-editTask {
    background-color: #01b872!important;
}

#btn-editTask:hover {
    background-color: #05905c!important;
}