.container {
    width: 100%;
    max-width: 90%;
    margin: calc(var(--m-32) * 3) auto 0 auto;
}

/* header */
header {
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: calc(var(--p-8) + 4px) 5%;
    background-color: var(--secondary-color);
    width: 100%;
    top: 0;
}

header .logo-header {
    color: var(--tertiary-color);
    font-size: var(--fs-large);
    font-weight: 900;
}

.li-header {
  display: flex;
  align-items: center;
  gap: calc(var(--p-32) * 1.5);
}

header .link-header {
    color: var(--tertiary-color);
    font-weight: 600;
}

header .link-header:hover {
    color: var(--primary-color);
}

header button {
    padding: calc(var(--p-8) + 2px) var(--p-16);    
    border-radius: var(--radius);
    border: 0;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

header button:hover {
    background-color: var(--primary-color);
}




/* main */
.section-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--m-32) * 1);
    padding: 0 0 var(--p-32) 0;
    border-bottom: 2px dashed var(--tertiary-color);
}

.section-main .section-texts-main, .section-img-main {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-texts-main h1 {
    font-size: calc(var(--fs-large) * 2);
    margin-bottom: var(--m-8);
    text-transform: capitalize;
}

.nft-color {
    color: var(--quartenary-color);
}

.section-texts-main p {
    margin-bottom: var(--m-16);
}

.container-btn-main {
    display: flex;
    gap: var(--p-16);
    margin-bottom: var(--m-32);
}

.container-btn-main .btn-connect {
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.btn-connect:hover {
    background-color: var(--quartenary-color);
    color: var(--primary-color);
    border-color: var(--quartenary-color);
}

.btn-learnMore {
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    color: var(--tertiary-color);
}

.btn-learnMore:hover {
    color: var(--quartenary-color);
    border-color: var(--quartenary-color);
}

.container-members {
    display: flex;
    flex-direction: column;
}

.container-circles {
    display: flex;
}

.container-members .member {
    width: var(--member);
    height: var(--member);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--t-3);
}

.member:nth-child(1){
    background-color: var(--tertiary-color);
}

.member:nth-child(2) {
    position: absolute;
    margin-left: calc((var(--member) * 1) - 8px);
    background-color: var(--quartenary-color);
}

.member:nth-child(3) {
    position: absolute;
    margin-left: calc(var(--member) * 2 - 8px * 2);
    background-color: var(--tertiary-color);
}

.member:nth-child(4) {
    position: absolute;
    margin-left: calc(var(--member) * 3 - 8px * 3);
}

.member:nth-child(5) {
    position: absolute;
    margin-left: calc(var(--member) * 4 - 8px * 4);
    background-color: var(--tertiary-color);
}

.member:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.section-img-main img {
    width: var(--img-main);
    width: 70%;
    margin-left: auto;
}

.container-members .member img.member-img {
    width: inherit;
    height: inherit; 
    object-fit: cover;
    border-radius: 50%;
}




/* secure */
.section-secure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 var(--p-32) 0;
    border-bottom: 2px dashed var(--tertiary-color);
}

.section-secure h2 {
    text-transform: capitalize;
    font-size: calc(var(--fs-large) * 1.5);
}

.container-secure {
    display: flex;
    justify-content: space-between;
    gap: var(--m-32);
    margin-top: calc(var(--m-32) * 3);
}

.rectangle-secure {
    width: 100%;
    height: 260px;
    background-color: var(--input-color);
    border-radius: var(--radius);
    position: relative;
    text-align: center;
    padding: var(--p-16) var(--p-32);
}

.rectangle-secure .radius-secure {
    background-color: transparent;
    border-radius: 50%;
    width: var(--circle-icon);
    height: var(--circle-icon);
    position: absolute;
    top: -15%; /* above border */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.radius-secure i {
    color: var(--tertiary-color);
    font-size: calc(var(--fs-large) * 1.5);
}

.radius-secure-bitcoin {
    box-shadow: 0 8px 12px 4px var(--bitcoin-color);
    background-color: var(--bitcoin-color);
}

.radius-secure-fast {
    box-shadow: 0 8px 12px 4px var(--fast-color);
}

.radius-secure-shield {
    box-shadow: 0 8px 12px 4px var(--shield-color);
}

.rectangle-secure h3 {
    font-size: calc(var(--fs-medium) * 1.5);
    margin: calc(var(--m-32) * 1.5) 0 var(--m-8) 0;
}

.rectangle-secure p {
    margin-bottom: var(--m-16);
}

.rectangle-secure .fa-bitcoin {
    color: var(--bitcoin-color);
}

.rectangle-secure .fa-bolt {
    color: var(--fast-color);
}

.rectangle-secure .fa-shield-halved {
    color: var(--shield-color);
}

.rectangle-secure a .icon-arrow-right {
    padding-left: var(--p-8);
}

.rectangle-secure a {
    color: var(--quartenary-color);
    font-weight: bold;
}




/* customer */
.section-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed var(--tertiary-color);
    margin-bottom: var(--m-32);
}

.section-customer .container-img-customer, .container-text-customer {
    width: 50%;
}

/* .container-img-customer {
} */

.container-text-customer h2 {
    text-transform: capitalize;
    font-size: calc(var(--fs-large) * 1.5);
    margin-bottom: var(--m-8);
    text-align: end;
}

.container-text-customer p {
    margin-bottom: var(--m-32);
    text-align: end;
}

.container-btn-customer {
    display: flex;
    justify-content: end;
}

.bitcoin-img-customer {
    width: 70%;
}


/* pricing */
.section-pricing {
    display: flex;
    flex-direction: column;
}

.container-mini-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--m-32);
}

.section-pricing h2 {
    text-align: center;
    font-size: calc(var(--fs-large) * 1.5);
    margin-bottom: var(--m-8);
}

.section-pricing .description-pricing {
    text-align: center;
    margin-bottom: var(--m-32);
}

.section-pricing .text-icon-pricing {
    text-transform: uppercase;
}

.container-text-icon-pricing {
    display: flex;
    align-items: center;
}

.icon-pricing {
    padding: var(--p-8);
    font-size: calc(var(--fs-large) - .4rem);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: calc(var(--radius) * 2);
    transition: all var(--t-4);
}

.icon-pricing:hover {
    background-color: var(--quartenary-color);
    color: var(--primary-color);
}

.container-text-icon-pricing p {
    margin-left: var(--m-16);
}

/* cards */
.container-cards {
    display: flex;
    justify-content: space-between;
    gap: var(--p-32);
    padding: var(--p-32) 0;
    border-bottom: 2px dashed var(--tertiary-color);
    margin-bottom: var(--m-32);
}

.container-cards .card-pricing {
    background-color: var(--secondary-color);
    border-radius: var(--card-radius);
    padding: var(--p-16);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-pricing .plan {
    font-family: Lexend!important;
    padding: 4px 0;
    color: var(--quartenary-color);
    width: 70px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: calc(var(--fs-medium) - .2rem);
    border-radius: var(--radius);
    text-transform: uppercase;
    margin-bottom: var(--m-8);
}

.card-pricing .price {
    color: var(--primary-color);
    font-size: var(--fs-large);
    font-weight: bold;
    text-transform: uppercase;
}

.card-pricing .description-price {
    color: var(--primary-color);
}

.card-pricing .ul-cards {
    margin: 0  0 var(--m-16) var(--m-16);
    color: var(--primary-color);
}

.container-btn-pricing {
    display: flex;
    flex-direction: column;
    margin-top: var(--m-16);
    gap: var(--p-8);
}

.btn-add, .btn-buy {
    width: 140px;
}

.btn-add {
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    color: var(--secondary-color)!important;
}

.btn-add:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-buy {
    background-color: transparent;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

.btn-buy:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 25%;
}

footer h2 {
    text-transform: capitalize;
    margin-bottom: var(--m-16);
    font-size: calc(var(--fs-large) * 1.5);
}

footer p {
    margin-bottom: var(--m-32);
}

footer nav {
    display: flex;
    gap: var(--p-16);
    margin-bottom: var(--m-32);
}

footer nav a {
    width: var(--link-footer);
    height: var(--link-footer);
    background-color: var(--input-color);
    color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}







/* responsive interface */
@media (max-width: 1270px){
    /* customer */
    .section-customer .container-img-customer  {
        width: 40%;
    }
    
    .section-customer .container-text-customer {
        width: 60%;
    }
    
    .container-text-customer h2 {
        font-size: var(--fs-large);
    }
}

@media (max-width: 1088px){
    /* main */
    .section-main {
        display: flex;
        justify-content: center;
    }

    .section-texts-main h1 {
        font-size: calc(var(--fs-large) * 1.4);
        margin-bottom: var(--m-8);
        text-transform: capitalize;
    }    
    
    .section-main .section-texts-main, .section-img-main {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    /* secure */
    .rectangle-secure {
        height: 320px;
    }
}

@media (max-width: 1015px){
    .section-customer {
        flex-direction: column;
    }

    .section-customer h2, .container-text-customer p {
        text-align: center;
    }

    .container-img-customer {
        display: none;
    }
}

@media (max-width: 947px){
    /* secure */
    .container-secure {
        flex-direction: column;
    }
    
    .rectangle-secure {
        height: 220px;
        margin-bottom: var(--m-32);
    }
}

@media (max-width: 850px){
    /* main */
    .section-texts-main h1 {
        text-align: center;
    }
    
    .section-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: calc(var(--m-32) * 1);
        padding: 0 0 var(--p-32) 0;
        border-bottom: 2px dashed var(--tertiary-color);
    }
    
    .section-main .section-img-main {
        display: none;
    }   

    .section-main .section-texts-main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-members {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}