.sidebar {
    width: var(--sidebar-w);
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.ul-sidebar > li {
    text-align: center; /* first element */
    font-size: 1.6rem;
}

.sidebar li {
    padding: var(--p-16);
}

.ul-sidebar-links {
    margin-top: var(--m-32);
}

.sidebar i {
    padding-right: 6px;
}

.sidebar a {
    color: var(--tertiary-color);
}

.subtitle-sidebar {
    text-transform: uppercase;
}

.ul-logout {
    margin-top: var(--m-32);
}

.link-sidebar {
    text-transform: capitalize;
}

.sidebar .link-sidebar:hover {
    background-color: var(--a-hover-color);
}

/* main */
main {
    background-color: var(--tertiary-color);
    height: 100vh;
    margin-left: var(--sidebar-w);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: var(--p-16) var(--p-32);
}


.top .welcome {
    font-size: var(--welcome);
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

.welcome i {
    padding-left: var(--p-8);
    color: var(--pending-text-color);
}

.profile-top {
    margin-left: auto;
}

.search {
    width: var(--search-w);
    padding: var(--p-8);
    border-radius: var(--search-radius);
    box-shadow: 0 0 4px 1px var(--primary-color);
}


/* cards */
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(80% / 4), 1fr));
    gap: var(--p-32);
    padding: var(--p-32);
}

.card {
    background-color: var(--secondary-color);
    padding: var(--p-16);
    border-radius: var(--card-radius);
}

.card h2 {
    font-size: var(--card-title);
}

.border-card {
    border-left: 4px solid var(--primary-color);
    padding-left: var(--p-8);
    line-height: 100%;
}

.border-card h2 {
    font-weight: 400;
    color: var(--primary-color);
}

.border-card span {
    font-size: var(--card-subtitle);
    color: var(--primary-color);
}

.card p {
    text-transform: capitalize;
}

.update {
    color: var(--update-color);
    padding-right: var(--p-8);
    font-size: var(--card-title);
}

.update i {
    padding-right: 3px;
}

/* graph */
.container-graph {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--p-32);
    gap: var(--p-32);
}

.pie-chart-container {
    width: 40%;
    border-radius: var(--graph-radius);
    background-color: var(--secondary-color);
    height: var(--graph-h);
    display: flex;
    justify-content: center;
    padding: var(--p-16);
}

.line-chart-container {
    width: 60%;
    border-radius: var(--graph-radius);
    background-color: var(--secondary-color);
    padding: var(--p-16);
    height: var(--graph-h);
}

/* table */
.container-table {
    padding: var(--p-32);
}

table {
    background-color: var(--secondary-color);
    border-radius: var(--table-radius);
    width: 100%;
    display: flex;
    flex-direction: column;
}

table h2 {
    padding: var(--p-8) var(--p-16) 0 var(--p-16);
    margin: 0; /* fixing space default */
    text-transform: capitalize;
    color: var(--table-text-color);
}

thead, tr:not(:last-child) {
    border-bottom: 1px solid var(--border-table-color);
}

table th {
    color: var(--table-text-color);
    text-transform: capitalize;
}

table td {
    color: var(--table-text-color);
}

table th, td {
    width: calc(100% / 7);
    padding: var(--p-16);
    text-align: start;    
}

th:last-child, td:last-child {
    text-align: end; /* fixing the interface */
}    

table tr {
    display: flex;
    width: 100%;
}
  
.td-status {
    padding: 6px var(--p-16);
    border-radius: var(--status-radius);
    color: var(--secondary-color);
    text-transform: capitalize;
}

.paid {
    background-color: var(--paid-color);
    color: var(--paid-text-color);
    border: 1px solid var(--paid-text-color);
}

.pending {
    background-color: var(--pending-color);
    color: var(--pending-text-color);
    border: 1px solid var(--pending-text-color);
}

.overdue {
    background-color: var(--overdue-color);
    color: var(--overdue-text-color);
    border: 1px solid var(--overdue-text-color);
}

@media (max-width: 768px) {
    .pie-chart-container {
      width: 100%;
      height: auto;
    }
  }
  
/* responsive interface */
@media (max-width: 1160px) {
    .container-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  