.sidebar {
    width: var(--sidebar-w);
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: start;
    padding: var(--p-16) 0;
    position: fixed;
}

.sidebar nav {
    width: 100%;
    border: 2px solid orange;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
}

.ul-sidebar > li {
    text-align: center; /* first element */
    font-size: 1.6rem;
}

.ul-sidebar-links {
    margin-top: var(--m-32);
    border: 2px solid blueviolet;
    gap: var(--p-32);
}

.ul-sidebar-links i {
    padding-right: 6px;
}

.sidebar a {
    color: var(--tertiary-color);
    text-transform: capitalize;
}



/* main */
main {
    background-color: var(--tertiary-color);
    height: 100vh;
    margin-left: var(--sidebar-w);
}

.top {
    display: flex;
    background-color: var(--secondary-color);
    padding: var(--p-8) var(--p-32);
}

.profile-top {
    margin-left: auto;
}


/* cards */
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(80% / 4), 1fr));
    gap: var(--p-32);
    padding: var(--p-32);
}

.card {
    background-color: var(--secondary-color);
    padding: var(--p-16);
    border-radius: var(--card-radius);
}

.card h2 {
    font-size: var(--card-title);
}

.border-card {
    border-left: 4px solid var(--primary-color);
    padding-left: var(--p-8);
    line-height: 100%;
}

.border-card h2 {
    font-weight: 400;
    color: var(--primary-color);
}

.border-card span {
    font-size: var(--card-subtitle);
    color: var(--primary-color);
}

.update {
    color: var(--update-color);
    padding-right: var(--p-8);
    font-size: var(--card-title);
}


/* graph */
.container-graph {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--p-32);
    gap: var(--p-32);
}

.pie-chart-container {
    width: 40%;
    border-radius: var(--graph-radius);
    background-color: var(--secondary-color);
    height: var(--graph-h);
    display: flex;
    justify-content: center;
    padding: var(--p-16);
}

.line-chart-container {
    width: 60%;
    border-radius: var(--graph-radius);
    background-color: var(--secondary-color);
    padding: var(--p-16);
    height: var(--graph-h);
}

/* table */
.container-table {
    padding: var(--p-32);
}

table {
    background-color: var(--secondary-color);
    border-radius: var(--table-radius);
    padding: var(--p-8) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

thead, tbody {
    padding: var(--p-16);
}

thead, tbody:not(:last-child) {
    border-bottom: 2px solid var(--primary-color);
}

table tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  
  @media (max-width: 768px) {
    .pie-chart-container {
      width: 100%;
      height: auto;
    }
  }
  
/* responsive interface */
@media (max-width: 1160px) {
    .container-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  