.container {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    padding: var(--p-32) 5%;
    position: absolute;
    background-color: transparent;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

nav .ul-header {
    justify-content: end;
    gap: calc(var(--p-32) * 2);
}

header nav li a {
    color: var(--light);
    font-weight: 700;
    text-transform: uppercase;
}

/* main */
main {
    width: 100%;
}

.container-elements-main {
    width: 100%;
    padding: 0 5%;
}

.container-texts-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: var(--mainImg);
}

main h1 {
    color: var(--light);
    width: 50%;
    font-size: calc(var(--fs-large) * 2);
    text-align: center;
}

main p {
    color: var(--secondary-color);
    text-align: center;
    width: 50%;
}

main img {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: var(--mainImg);
    object-fit: cover;
    filter: brightness(60%);
}

.container-buttons-main {
    display: flex;
    margin: var(--m-16) 0;
    gap: var(--m-32);
}

.container-buttons-main button {
    padding: var(--p-16);
    border-radius: 0;
}

.container-buttons-main .buy-products {
    background-color: var(--quartenary-color);
    color: var(--light);
    border: 1px solid var(--quartenary-color);
}

.container-buttons-main .subscribe-now {
    background-color: var(--light);
    color: var(--quartenary-color);
    border: 1px solid var(--light);
}


/* contact section */
.section-contact {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, var(--purple), var(--primary-color)); */
    background-color: var(--primary-color);
}

.section-contact-img, .section-contact-form {
    width: 50%;
}

  .section-contact-img {
    display: flex;
    justify-content: center;
  }

  .section-contact-img img {
    width: 80%;
  }

  .section-contact-form {
    padding: var(--p-32);
  }

  .title-section-contact-form {
    font-size: calc(var(--fs-large) * 2);
    margin-bottom: var(--m-16);
    text-transform: capitalize;
    color: var(--secondary-color);
    color: var(--light);
  }

  .container-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: var(--m-16) 0;
}

  .container-input input {
    width: 48%;
    padding: var(--p-16);
    border-radius: var(--input-radius);
    border: none;
    background-color: var(--input-color);
    color: var(--light);
  }

  form textarea {
    width: 100%;
    height: 160px;
    resize: none;
    border-radius: var(--input-radius);
    padding: var(--p-16);
    margin-bottom: var(--m-16);
    background-color: var(--input-color);
    color: var(--light);
  }

  .container-btnSend-form {
    display: flex;
    justify-content: end;
  }
  
  .btnSend-form {
    padding: calc(var(--p-8) + 4px) var(--p-32);
    border-radius: var(--radius);
    border: none;
    background-color: var(--light);
    font-weight: 500;
}

/* experience */
.section-experience {
    background-color: var(--light);
    padding: var(--p-section) 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
    width: 100%;
}

.section-experience h2 {
    font-size: var(--fs-large);
    text-align: center;
    margin-bottom: var(--m-8);
    color: var(--primary-color);
}

.section-experience > p {
    margin-bottom: var(--m-16);
    text-align: center;
    color: var(--secondary-color);
}

.container-elements-experience {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-icon-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-icon-experience i {
    font-size: calc(var(--fs-large) * 1.5);
    margin: var(--m-8) 0;
}

.container-icon-experience p {
    font-size: var(--fs-medium);
    text-transform: capitalize;
    color: var(--primary-color);
}


/* product */
.section-product {
    width: 100%;
    padding: var(--p-section) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.section-product h2 {
    font-size: var(--fs-large);
    margin-bottom: var(--m-8);
    color: var(--light);
}

.section-product > p {
    margin-bottom: var(--m-32);
    color: var(--tertiary-color);
    text-align: center;
}

.container-products {
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
}

.container-img-product {
    width: var(--productImg);
    height: var(--productImg);
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: transparent;
}

.container-img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-button-product {
    position: absolute;
    margin-bottom: var(--m-8);
    width: var(--productImg);
    display: flex;
    justify-content: center;
    padding: 0 var(--p-16);
}

.container-button-product button {
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: var(--secondary-color);
    color: var(--light);
    padding: calc(var(--p-8) + 4px) 0;
}


/* interface */
@media (max-width: 1380px){
    /* product */
    .container-products {
        padding: 0 5%;
    }    
}

@media (max-width: 1120px){
    /* experience */
    .section-experience {
        background-color: var(--light);
        padding: var(--p-section) 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--primary-color);
        width: 100%;
    }
    
    .section-experience h2 {
        font-size: var(--fs-large);
        text-align: center;
        margin-bottom: var(--m-8);
        color: var(--primary-color);
    }
    
    .section-experience > p {
        margin-bottom: var(--m-16);
        text-align: center;
        color: var(--secondary-color);
    }
    
    .container-elements-experience {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }    
}

@media (max-width: 1040px){
    /* contact */
    .title-section-contact-form {
        font-size: var(--fs-large);
      }

      .section-contact-img img {
        width: 90%;
      }    

    /* main */
    main h1 {
        width: 100%;
    }
    main p {
        width: 100%;
    }


    /* product */
    .container-products {
        padding: 0 5%;
    }    

    .container-img-product {
        width: calc(var(--productImg) - 40px);
        height: calc(var(--productImg) - 40px);
    }
    
    .container-button-product {
        width: calc(var(--productImg) - 40px);
    }

}

@media (max-width: 895px){
    /* product */
    .container-img-product {
        width: calc(var(--productImg) - 80px);
        height: calc(var(--productImg) - 80px);
    }
    
    .container-button-product {
        width: calc(var(--productImg) - 80px);
    }
}

@media (max-width: 768px){
    /* product */
    .container-img-product {
        width: calc(var(--productImg) - 100px);
        height: calc(var(--productImg) - 100px);
    }
    
    .container-button-product {
        width: calc(var(--productImg) - 100px);
    }
}

@media (max-width: 695px){
    /* contact */
    .section-contact {
        flex-direction: column;
    }
    
    .section-contact-img, .section-contact-form {
        width: 100%;
    }    
    
    .section-contact-img {
        margin-bottom: 0;
      }    

    /* product */
    .container-products {
        width: 100%;
        flex-direction: column;
    }

    .container-img-product {
        width: 100%;
        height: var(--productImg);
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: transparent;
        margin-bottom: var(--m-32);
    }
        
    .container-button-product {
        width: 90%;
    }
}

@media (max-width: 600px){
    main h1 {
        font-size: var(--fs-large);
    }

    main p {
        font-size: calc(var(--fs-medium) - 4px);
    }
}

@media (max-width: 400px){
    .container-buttons-main {
         gap: var(--m-8);
    }
}