form textarea {
    resize: none;
    height: 120px;
}

.status {
    display: flex;
    gap: 24px;
}


form input[type='radio']:focus {
    box-shadow: none; /* default value */
}

.status span {
    padding-left: 8px;
    color: var(--primary-color);
    font-weight: 300;
}

@media (max-width: 440px){
    .status {
        display: block;
    }
}