header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 10vh;
}

header h1 {
    color: var(--quaternary-color);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 3em;
    margin: 0;
}