@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
  --dark: #121212;
  --primary-color: #1A4D2E;
  --secondary-color: #4F6F52;
  --tertiary-color: #A5B68D;
  --quartenary-color: #C1CFA1;
  --light: #fff;
  --input-color: rgba(226, 226, 226, 0.170);

  /* widths */
  --logo: 80px;
  --mainImg: 600px;
  --productImg: 300px;
  --cookieImg: 500px;
  --link-footer: 36px;
  --pix: 300px;

  /* radius */
  --radius: 5px;
  --input-radius: 15px;
  --card-radius: 10px;

  /* paddings */
  --p-section: 56px;
  --p-32: 32px;
  --p-16: 16px;
  --p-8: 8px;

  /* margins */
  --m-32: 32px;
  --m-16: 16px;
  --m-8: 8px;
  --m-section: 64px;

  /* font-size */
  --fs-medium: 1rem;
  --fs-large: 2rem;
  --fs-icon: 3rem;
  --h1-error: 12rem;
  --fs-title: 2rem;

  /* transitions */
  --t-3: .3s;
  --t-4: .4s;

  /* brighteness hover */
  --brightness: 85%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Lexend, Manrope, Arial, Helvetica, sans-serif; */
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--quartenary-color);
}

a {
  text-decoration: none;
}

button {
  font-weight: 600;
  padding: var(--p-8) var(--p-16);
  border-radius: var(--radius);
}

button, a, i {
  cursor: pointer;
  outline: none;
}


button, a  {
  transition: var(--t-4);
}

input, select, textarea {
  outline: none;
}

input::placeholder, textarea::placeholder {
  text-transform: capitalize;
  color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lexend!important;
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}

p, label, textarea, ::placeholder, button, a, li {
  font-family: Manrope!important;
}

li {
  list-style-type: none;
}