.film-info {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    border-radius: .4rem;
    background-color: #242424;
}
.film-info h1, .film-info h3 {
    margin: 14px 0;
    color: #fff;
}
.film-info img {
    width: 800px;
    max-width: 100%;
    border-radius: .4rem;
}
/* vote average */
.film-info span {
    margin: 8px 0;
    color: #ffffff5d;
}
.film-info .voteAverage {
    color: gold;
}

.area-buttons button, a {
    margin:14px 14px 14px 0;
    font-size: 1.2rem;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border: none;
}
.area-buttons #buttonSave {
    color: #fff;
    background-color: green;
    padding: 11px 10px;
}
.area-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: dodgerblue;
}
.area-buttons a:hover {
    background-color: rgba(30, 143, 255, 0.7);
}
.area-buttons #buttonSave:hover {
    background-color: rgba(0, 128, 0, 0.7);
}

@media (max-width: 768px){
    .film-info {
        border-radius: 0;
    }
}