@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-color: #192030;
  --secondary-color: #FFFFFF;
  --tertiary-color: #E7E8EA;
  --card-title-color: #CACACC;
  --border-table-color: #CACACC;
  --bg-scroll: #b5b5b5;
  --scroll-color: #4B59E0;
  --a-hover-color: #4C505C;
  --table-text-color: #4C505C;
  --top-color: #939393;
  --top-hover-color: #707070;
  --update-color: rgb(24, 190, 107);
  --paid-color: #dafeec;
  --paid-text-color: #18be6b;
  --pending-color: #f9f2cc;
  --pending-text-color: #e0a220;
  --overdue-color: #fee5e5;
  --overdue-text-color: #ef4452;

  /* widts and heights */
  --scroll-w: 10px;
  --sidebar-w: 240px;
  --sidebar-mobile-w: 80px;
  --search-w: 200px;
  --search-h: 40px;
  --radius-profile-w: 40px;
  --graph-h: 480px;

  /* padding and margins */
  --p-8: 8px;
  --p-16: 16px;
  --p-32: 32px;

  --m-8: 8px;
  --m-16: 16px;
  --m-32: 32px;

  /* radius */
  --card-radius: 6px;
  --graph-radius: 6px;
  --table-radius: 6px;
  --status-radius: 6px;
  --search-radius: 4px;
  --error-radius: 10px;
  --btn-error-radius: 6px;

  /* font-size */
  --card-title: 1rem;
  --card-subtitle: 2rem;
  --welcome: 1.6rem;
  --fs-top: 1.4rem;

  /* transition */
  --t-4: .4s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--tertiary-color);
  font-family: Outfit;
}

a, li, ul, button {
  all: unset;
}

li, a, button {
  cursor: pointer;
  transition: var(--t-4);
}