:root {
  --primary-color: crimson;
  --update-color: rgb(24, 190, 107);

  /* widts */
  --sidebar-w: 200px;

  /* padding */
  --p-8: 8px;
  --p-16: 16px;

  /* radius */
  --card-radius: 6px;

  /* font-size */
  --card-title: 1rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a, li, ul, button {
  all: unset;
}